@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-right: 100px;
    
}

* {
    font-family: 'Cooper black';
}
.navbar a {
    text-decoration: none;
    color: white;
}

.logo {
    margin-right: 60%;
}

.error {
    color: red;
}
.navbar a:hover {
    text-decoration: underline;
    color: white;
}
.Nav{
    background-color: #3AAFA9;
    border-radius: 10px;
    font-size: 25px;
    padding-bottom: 1px;
    
    
    

}
.login {
    background-color: azure;
    padding: 10px;
    padding-left: 55px;
    padding-right: 55px;
    justify-items: center;
    border-radius: 15px;
    border: none;
    margin: auto;
    
}

.signupBTN {
    background-color: azure;
    padding: 10px;
    padding-left: 55px;
    padding-right: 55px;
    justify-items: center;
    border-radius: 15px;
    margin-right: -50px;
    border: none;
}

body {
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Roboto Mono", monospace;
    background-color: #3AAFA9;
}

.navbtn {
    display: flex;
    gap: 50px;
    background-color: #3AAFA9;
    

}



.signup {
    display: flex;
    flex-direction: column;
    padding: 75px;
    gap: 5px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50px;
    border-color: white;

}

.signuptext {
    text-align: left;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 75%;
    font-size: 15px;
    
    
    
}

.p1 {
    font-size: 50px;
    margin-bottom: 10px;
    
}

.b1 {
    border-radius: 20px;
    padding: 15px;
}

.homebody {
    background-image: url("stock2.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 40%;
    
    
   
    
}

.signup {
    border: 2px solid;
    background-color: transparent;
}




.wholepage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.signup div {
    display: flex;
    flex-direction: column;
    align-items: start
    gap: 10px;
    border-radius: 20px;
    padding: 15px;

}



.signup div input {
    padding-right: 120px;

}



li.droplist {
    list-style: none;
    font-size: 25px;
    
}


li.droplist ul.dropdown li {
    display: list-item;
    list-style:initial;
    color: white;
    

}

li.droplist ul.dropdown {
    width: 100;
    position: absolute;
    z-index: 999;
    display: none;
    transition: height 0.3s ease-in;
        
}


li.droplist:hover ul.dropdown {
    display: flex;
    flex-direction: column;
    background-color: rgb(66, 66, 66);
    gap: 7.5px;
    border-radius: 20px;
    
    
    padding: 35px;
    
    
}


.P:hover {
    text-decoration: underline;
    text-decoration-color: white;
}
.H:hover {
    text-decoration: underline;
    text-decoration-color: white;
}
.C:hover {
    text-decoration: underline;
    text-decoration-color: white;
}





li.droplist:hover ul.dropdown li a{
    color:white;
    text-decoration: none;
    padding: 10px;
    padding-left: 2px;
    padding-right: 5px;
    
}