<!DOCTYPE html>
<html>
    <head>
    <title>Home</title>
    <link rel="stylesheet" href="static/style.css">
    </head>

    <body>
        <nav class="Nav"> 
            <ul class="navbar">
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact</a></li>
                <div class="navbtn">
                    <button class="login">Login</button>
                    <button class="signup"> Signup</button>
                </div>

              </ul>
        </nav>
        {%block content%} {%endblock%}
    </body>


</html>