
{%extends "layout.html"%} 

{%block content%}
    <div class="wholepage">
    <div class="Login">
        <form action="/signup" method="POST" >
            <div class="loginInputs">
                <input type="text" name="email" placeholder="Email">
                <input type="text" name="name" placeholder="Username">
                <input type="password" name="password" placeholder="Password">

                <button class="LoginButton" value="LOGIN" name="action2">
                    Submit
                </button>

            </div>>
        </form>

    </div>
        </div>





    {%endblock%}
