
{%extends "layout.html"%} 

{%block content%}


    <div class="wholepage">
    <div class="Login">
        <form name="login" action="login" method="POST">
            <div class="loginInputs">
                <input type="text" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Password">

                <button class="LoginButton" value="LOGIN" name="action">
                    Submit
                </button>
                {% if error %}
                <p class="error"> {{ error }}</p>
                {% endif %}

            </div>
        </form>

    </div>
        </div>




{%endblock%}
