{%extends "layout.html"%} 

{%block content%}



    <div class="wholepage">
        <div class="signup">
            <h1>SignUp To Have Fun!!!</h1>
            <form id="signup" method="POST" action="/signup">
            <div class="emailG">
                <label>Email</label>
                <input type="text" name="email"  placeholder="Email">
            </div>
            <div class="userG">
                <label>Username</label>
                <input type="text" name="name"  placeholder="Username">
            </div>
            <div class="passG">
                <label>Password</label>
                <input type="password" name="password"  placeholder="Password">
            </div>
            <div class="CpassG">
                <label>Confirm-Password</label>
                <input type="password" name="password"  placeholder="Password">
            </div>
            <button name="action" value='register' class="signBTN"> SignUp</button>
            </form>

        </div>
    </div>

{%endblock%}