{%extends "layout.html"%} 

{%block content%}



    <div class="wholepage">
        <div class="signup">
            <h1>SignUp To Have Fun!!!</h1>
            <form id="signup" method="POST" action="/signup">
            <div class="inputbox" >
            <div class="emailG">
                
                <input type="text" name="email"  placeholder="Email">
            </div>
            <div class="userG">
                
                <input type="text" name="name"  placeholder="Username">
            </div>
            <div class="passG">
                
                <input type="password" name="password"  placeholder="Password">
            </div>
            <div class="CpassG">
                
                <input type="cpass" name="cpass"  placeholder="Confirm Password">
            </div>
            </div>
            <button name="action" value='register' class="signBTN"> SignUp</button>
            {%if error%}
            <p class="error"> {{error}}</p>
            {%endif%}
            </form>

        </div>
        </div>

{%endblock%}